h1{
    font-family: "BurbankBigRegular-Black";
    font-size: 6vw;
    text-align: center;
    margin-top: 4vw;
}

h2{
    font-family: "BurbankBigRegular-Black";
    font-size: 5vw;
    font-weight: 100;
    margin-left: 2vw;
    margin-top: 4vw;
}
